---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

const metadata = {
  title: 'tqp - học tập, thực hành và chia sẻ',
};
---

<Layout metadata={metadata}>
  <Hero2
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Gửi phản hồi', href: 'https://forms.gle/1N2rzx8jHVr7NPxy5' },
    ]}
    image={{
      src: '~/assets/images/design.png',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      tqp<span class="text-accent dark:text-white"> xin chào,</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline"> <span class="font-semibold"></span></span>
      <p>
        Chào mừng bạn đến với website các nhân của tqp, đây là nơi mình dùng để chia sẻ, lưu trữ, và thực hành các bài
        học.
      </p><br />
      <p>
        Nếu thấy đâu đó trong đây những nội dung có giá trị thực với bạn, hãy cứ sử dụng nó, chỉ cần để lại cho mình một
        lời nhắn để mình biết những gì mình tạo ra vẫn có giá trị. Một phản hồi dù nhỏ cũng là nguồn động lực lớn để
        mình tiếp tục duy trì sự tồn tại của website này.
      </p>
      <br />
      <p>Chân thành cảm ơn!</p>
      <br />
    </Fragment>
  </Hero2>
</Layout>
